body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  // background-color: aqua;
  width: 100%;
  height: 100vh;
  position: relative;
}

.toolbox {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 4px;
    height: 30px;
    width: 100px;
  }
}

.propbox {
  position: fixed;
  background-color: lightblue;
  width: 200px;
  right: 0;
  border-left: 1px solid gray;
  height: 100vh;
  padding: 12px;
}

.plot {
  width: 100%;
  height: 100vh;
  
  top: 0;
  left: 0;
  background-color: white;
  position: absolute;


  .shape {
    position: absolute;
    box-sizing: border-box;
    background-color: lightgreen;
    border: 2px solid gray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      pointer-events: none;
    }
  }

  .selection {
    cursor: move;
    position: absolute;
    box-sizing: border-box;
    border: 2px dashed lightseagreen;

    .resize-handle {
      cursor: se-resize;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: lightseagreen;
      
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%)
    }
  }
}
